body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 70%;
  margin-top: 30px;
  border-style: ridge;
  justify-content: center;
  align-items: center;
}

.chooseUser {
  text-align: center;
  padding-top: 5%;
}

.header {
  background-color: #2196f3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleStyle {
  margin-right: 30%;
  margin-left: 30%;
  color: white;
}

.imageStyle {
  height: 150px;
  border-radius: 50%;
  padding: 10px;
}

.profileImageStyle {
  height: 150px;
  border-radius: 50%;
  padding: 10px;
}

.nameStyle {
  font: 1rem 'Abril Fatface', cursive;
  margin: 0 10px 10px;
  text-align: center;
}

.alignCenter {
  text-align: center;
}

.loadingStyles {
  margin-top: 20%;
  text-align: center;
}